<div class="button-container" ...attributes>
  <div class="button-container__group button-container__group--expand">
    <button
      type="button"
      class="button-container__item button button--invisible"
      disabled={{this.disableBack}}
      {{on "click" (fn @onDateChange this.dayPrior)}}
    >
      ←
    </button>
    <div class="button-container__item button-container__item--expand">
      {{#if (and @currentDate @minDate @maxDate)}}
        <DatePicker
          @displayDateFormat={{this.pickerDateFormat}}
          @date={{@currentDate}}
          @minDate={{@minDate}}
          @maxDate={{@maxDate}}
          @onChange={{@onDateChange}}
        />
      {{/if}}
    </div>
    <button
      type="button"
      class="button-container__item button button--invisible"
      disabled={{this.disableForward}}
      {{on "click" (fn @onDateChange this.dayAfter)}}
    >
      →
    </button>
  </div>
  <div class="button-container__group {{if @todayClass @todayClass}}">
    <button
      type="button"
      class="button-container__item button button--invisible"
      disabled={{this.disableToday}}
      {{on "click" (fn @onDateChange this.today)}}
    >
      Today
    </button>
  </div>
</div>