<form
  class="content__container log-in form"
  {{on "submit" this.onSubmit}}
  ...attributes
>
  {{#let (unique-id) as |itemId|}}
    <label class="form__label form-label" for={{itemId}}>What's the password?</label>
    <input
      id={{itemId}}
      class="form__item input"
      placeholder="Enter password..."
      value={{this.pin}}
      {{on "input" this.updatePin}}
      {{autofocus}}
    />
  {{/let}}
  {{#if this.errorMessage}}
    <Callout class="form__item" @error={{true}}>🚨
      {{this.errorMessage}}</Callout>
  {{/if}}
  <button
    class="form__item form__item--center button"
    type="submit"
    disabled={{if this.pin false true}}
  >Log in</button>
</form>