{{page-title @model.readableDate}}

<Wormhole @name="top" @append={{true}}>
  <div class="content__top__item content__top__item--message text text--small">
    Intern: day
    {{@model.internBlockInfo.dayNumber}}
    of block
    {{@model.internBlockInfo.blockName}}.
    Resident: day
    {{@model.residentBlockInfo.dayNumber}}
    of block
    {{@model.residentBlockInfo.blockName}}.
  </div>
</Wormhole>

<ResidentList
  class="resident-categories__category"
  @title="Off"
  @residents={{@model.off}}
  @emptyMessage="No one is off today! 😩"
/>
<ResidentList
  class="resident-categories__category"
  @title="Maybe off"
  @residents={{@model.maybeOff}}
  @emptyMessage="No one might be off today! 😩"
/>
<ResidentList
  class="resident-categories__category"
  @title="Likely working"
  @residents={{@model.likelyNotOff}}
  @emptyMessage="No one is working today! 🤗"
/>