{{page-title "Is my coresident off?"}}

<div class="app typography-parent">
  <div class="app__logo-container" {{register-wormhole "logo"}}></div>
  <div class="app__content content">
    <div class="content__top" {{register-wormhole "top"}}></div>
    <div class="content__main">
      {{outlet}}
    </div>
    <div class="content__bottom" {{register-wormhole "bottom"}}></div>
  </div>
</div>